.name h1 {
    text-align: center;
    margin: 2%;
}

.img {
    text-align: center;
}

.img img {
    height: 490px;
}

.noImage {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 25%;
    border: solid 1px #000000;
}


#noImage0 {
    padding-top: 30%;
    text-align: center;
}

#noImage1 {
    padding: 5% 10% 10% 10%;
    text-align: center;
}

.info h1 {
    text-align: center;
}

.table h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

td{
    text-align: center;
}

.soldOut {
    text-align: center;
    color: white;
    background-color: crimson;
}

.price {
    text-align: center;
}

.price form {
    margin-top: 3%;
}

#delete {
    margin-top: 5%;
    margin-bottom: 5%;
}

.itemCommentsArea form {
    text-align: center;
}

.itemCommentsArea h1 {
    margin: 5%;
}

.itemCommentsArea a {
    margin: 5%;
}

.itemCommentsArea button {
    margin: 2%;
}

.itemComments {
    background-color: rgb(120, 190, 250);
}

.rightComments h5 {
    margin-top: 5%;
    padding: 2%;
    background-color: rgb(10, 240, 60);
    text-align: left;
}

.rightComments p {
    text-align: center;
}

.leftComments h5 {
    margin-top: 5%;
    padding: 2%;
    background-color: white;
    text-align: left;
}

.leftComments p {
    text-align: center;
}