.menu {
    text-align: center;
    margin-top: 3%;
}

#header1{ /*userCheckedItem～userGood用*/
    text-align: center;
    margin: 5%;
}

#header2 { /*userCheckedItem～userGood用*/
    text-align: center;
    margin: 5%;
}

.selectStatus button{ /*userDealingBuyとuserDealingSell用*/
    display: inline;
}

.cardImg{
    height: 250px;
}

/* 「No Image 画像がありません」の中に価格を表示させる(1/2) */
.noImage {
    height: 250px;
    position: relative;
    text-align: center;
}

.noImage h5 {
    padding: 50% 10% 10% 10%;
}

.noImage h1 {
    position: absolute;
    top: 100;
    left: 0;
    right: 0;
    margin: auto;
}

/* 「No Image 画像がありません」の中に価格を表示させる(2/2) */
.noImage p {
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 2%;
}

/* 画像の中に価格を表示させる(1/2) */
.img {
    position: relative;
    text-align: center;
}


.img img {
    height: 250px;
}

.img h1 {
    position: absolute;
    top: 100;
    left: 0;
    right: 0;
    margin: auto;
}

/* 画像の中に価格を表示させる(2/2) */
.img p {
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 2%;
}

/*余白を減らす & 文字を中央揃え*/
.list-group p {
    padding: 0%;
    text-align: center;
}